In [2]:
print('Hello World!')

Hello World!

In [3]:
x = 20
print(x + 33)

53

In [4]:
x = 3
print(x, type(x))

3 <class 'int'>

In [2]:
n=int(input('Enter The Number : '))
if n%2 == 0:
  print(n, 'is Even Number')
else :
  print(n, 'is Odd Number')

Enter The Number : 5
5 Is Odd Number

In [3]:
name=input('Enter your Name : ')
age=int(input('Enter Your Age : '))
if age >= 18:
  print(name, 'Age is', age, 'Eligible for Vote.')
else:
  print(name, 'age is', age, 'Not Eligible for Vote.')

Enter your Name : sharvin
Enter Your Age : 22
sharvin Age is 22 Eligible for Vote.

In [5]:
days=int(input('Enter the Days : '))
if(days==0):
  print('Good No Fine')
elif(days>=1 and days<=5):
  print('Fine Amount : ', days*0.5)
elif(days> 5 and days<=10):
  print('Fine Amount : ', days*1)
elif(days> 10 and days<=30):
  print('Fine Amount : ', days*5)
else:
  print('Membership Cancel')

Enter the Days : 4
Membership Cancel

In [6]:
m1=int(input('Enter Mark 1 : '))
m2=int(input('Enter Mark 2 : '))
m3=int(input('Enter Mark 3 : '))
total=m1+m2+m3
average=total/3.0
print('Total   : ',total)
print('Average : ',average)
if m1>= 35 and m2>=35 and m3>=35:
  print('Result : Pass')
  if average>=90 and average<=100:
    print('Grade : A')
  if average>=80 and average<=89:
    print('Grade : B')
  if average>=70 and average<=79:
    print('Grade : C')
  else:
    print('Grade : D')
else:
  print('Result : Fail')
  print('Grade  : No Grade')

Enter Mark 1 : 45
Enter Mark 2 : 76
Enter Mark 3 : 55
Total   :  176
Average :  58.666666666666664
Result : Pass
Grade : D